# LimeSurvey Database Configuration
DB_TYPE=pgsql
DB_PORT=5432
DB_HOST=database
DB_PASSWORD=lime
DB_NAME=lime
DB_USERNAME=lime

# Postgres Database Configuration
POSTGRES_USER=lime
POSTGRES_DB=lime
POSTGRES_PASSWORD=lime

# LimeSurvey Admin Configuration
ADMIN_NAME=Super-Admin
ADMIN_USER=admin
# Initial Password, will be changed on setup
ADMIN_PASSWORD=admin